@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: "Montserrat", sans serif;
    font-weight: 500;
    font-size: 3vw;
    color: #008bb9;
    text-decoration: none;
    background-color: black;
}

li, a, button {
    font-family: "Montserrat", sans serif;
    font-weight: 500;
    font-size: 1vw;
    color: #edf0f1;
    text-decoration: none;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.nav_links{
    list-style: none;
    background-color: rgb(0, 0, 0);
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: rgb(80, 131, 179);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 163, 204, 0.5);
}

.headerDecoration{
    background-image: url('file:///C:/Users/yassi/Desktop/krystian-tambur-101317.jpg');
    background-attachment: fixed;
    background-size: 100vw;
}

.headerContainer{
    color: white;
}
.headerContainer h1{
    padding:1%;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-family: "Amiri";
    font-style: italic;
    font-size: 5vw;
    font-weight: 20;
}
.headerContainer h2{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    width: 100%;
    text-align: center;
    font-family: "Amiri";
    font-style: italic;
    font-size: 1.2vw;
    font-weight: 20;
}

.QuienSoy{
    background-color: rgb(0, 43, 54);
    color:white;
    background-image: url('file:///C:/Users/yassi/Desktop/quiensoyFoto1A.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40vw;
}
.QuienSoy h1{
    padding-left: 2.5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: "Montserrat", sans serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 1vw;
}
.QuienSoy p{
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    font-family: "Montserrat", sans serif;
    font-weight: 500;
    font-size: 17.5px;
    margin-right: 50%;
    text-align: justify;
}

#myVideo {
    width: 100%;
    position:unset;
    z-index: -1;
    opacity: 0.7;
}

.ColumnasFormacion{
    display: flex;
}
.Columna{
    flex: 50%;
}
.Columna h1{
    padding-top: 30px;
    padding-bottom: 3vw;
    font-size: 2vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}
.ColumnasFormacion{
    color: white;
    background-image: linear-gradient( rgb(0, 50, 63), rgb(45, 86, 110) );
}
.Columna h2{
    padding-top: 30px;
    padding-bottom: 7vw;
    font-size: 2vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}
.Columna p{
    font-size: 1.5vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    
}
.Photo{
    width: 40vw;
    padding-left: 20%;
    padding-bottom: 30px;
}

.ColumnasTitulacion{
    display: flex;
}
.TitulacionesColumna{
    flex: 50%;
}

.Titulaciones{
    padding-top: 30px;
    padding-bottom: 5vw;
    font-size: 2vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}
.TitulacionesColumna p{
    font-size: 1.5vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    padding-bottom: 50px;
}