#taskContainer {
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  margin: 30px;
}

#taskContainer h1, p{
  margin: 20px;
  flex-direction: column;
}

#taskContainer p{
  margin-bottom: 30px;
  font-size: 20px;
}

#Toggle{
  margin: auto;
  position: relative;
  align-items: center;
  margin-right: 5vh;
  font-size: 25px;
  border-radius: 10px;
  border-width: 1px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#Toggle:hover{
  cursor: pointer;
  background-color: rgb(159, 210, 255);
}

#HeaderTitle{
  font-size: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#HeaderContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#HeaderContainer p{
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px;
}

#FormContainer{
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 400px;}

#FormContainer p1, p2{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

#FormContainer p2{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 10px;
}

#submitButton{
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  width: fit-content;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px; 
  border-radius: 10px;
  border-width: 1px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#submitButton:hover{
  cursor: pointer;
  background-color: rgb(159, 210, 255);
}