@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.NavBar{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.ContactsGit{
    /*
        Flex is the value of css display. By using display flex in parent
        element, child element automatically align like column or row with
        auto width and auto height.
    */
    display: flex;
    /*
        Los objetos child se espacian equitativamente en el espacio disponible
        del elemento padre.
    */
    justify-content: right;
}

.navButton{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0);
    margin: 10px;
}

.navButton:hover{
    cursor: pointer;
    transition: 0.2s;
    background: rgb(255, 224, 224, 0.7);
}

.name{
    justify-content: center;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 120px;
    margin: 0px;
}

.subtitle{
    justify-content: center;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.topBackground{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 40%,
    rgba(255,255,255,1)), url('./GeneralImages/wp8922128-blue-sky-summer-wallpapers.jpg');
    background-size: 100vw;
    margin-bottom: 50px;
}

.aboutMe {
    display: flex;
    justify-content: space-around;
}