body{
  background-color: #c9daff;
}

.App {
  margin: 0px;
  background-color: #c9daff;
}

.Main_Title{
  margin: 50px;
  text-align: center;
  font-size: 140px;
  padding: 20px;
  font-weight: 1600;
}

@media (max-width: 480px) {
  .Main_Title{font-size: 70px;}
  .DontHaveAcc{
    font-size: 15px;
  }
  .RegHere{
    font-size: 15px;
    
  }
  .log-in{
    font-size: 30px;
  }
}

@media (max-width: 600px){
  .logContainer{
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
}

@media (max-width: 330px) {
  .Main_Title{font-size: 40px; margin: 10px;}
  .logContainer{text-align: center; margin:auto !important;}
}